* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

input,
textarea {
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
}
input::placeholder,
textarea::placeholder {
  color: #9f9f9f;
}
.header-top {
  background-color: #18353e;
  color: #fff;
  padding: 18px 0 55px 0;
  font-size: 14px;
}
.header-row {
  display: flex;
}
.header-right {
  display: flex;
  margin-left: auto;
  column-gap: 74px;
}
.header-info {
  display: flex;
  align-items: center;
}
.header-info img {
  margin-right: 16px;
  max-width: 21px;
}
.header-social {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.header-bottom {
  margin-top: -40px;
}
.header-bottom-row {
  display: flex;
  background-color: #D62E4C;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
}
.header-logo {
  background-color: #fff;
  padding: 15px 60px 15px 40px;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0%, 82.68% 101.20%, 0% 100%);
}
.header-logo img {
  max-width: 160px;
}
.header-nav {
  padding: 10px 60px;
  margin-left: auto;
}
.header-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  column-gap: 50px;
}